////////////////////// ELEMENTS PLACEMENT //////////////////////

.staticToolbar {
    position: fixed;
    top: 250px;
    width:100%;
    z-index:3;
    margin-top:-5px;
}

////////////////////// PROFIL MENU //////////////////////

.profilMenu {
    list-style-type: none;
    padding:0;
    padding-bottom:5px;
    text-align:left;
    border-bottom:1px solid grey;
    margin-bottom:0px;
}

.profilMenu li {
    display:inline-block;
    margin:5px;
    font-weight:bold;
}

.profilMenuSeparator {
    color:grey;
}

////////////////////// LINK COLOR //////////////////////

.profilLink {
    text-decoration:none;
    color:#D6CEF4;
}

.profilMenu .active {
    color:whitesmoke;
}