////////////////////// GENERAL //////////////////////

.mainDiv {
    padding-top:0;
}

////////////////////// BEFORE FORM //////////////////////

.slogan {
    margin-top:20px; // Size in global.scss
}

.marginUnderSlg {
    height:45px;
}

.bmjLogo {
    width:100px;
    height:auto;
    border-radius:50%;
}

////////////////////// INPUTS //////////////////////

.usernameInput {
    width:60%;
    display:inline-block;
}

.emailInput {
    width:60%;
    display:inline-block;
}

.passInput {
    width:40%;
    display:inline-block;
    margin-left:10px;
}

.inputMsg {
    font-size:small;
    margin:0;
}

////////////////////// AFTER FORM //////////////////////

.separator {
    border-top:1px solid black;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}