////////////////////// GENERAL //////////////////////

.mainDiv {
    padding-top:55px;
}

.slogan {
    margin-top:50px; // Size in global.scss
}

.separator {
    border-top:1px solid black;
    width:45%;
    margin-left:54%;
}

.footerMsg {
    font-size:small;
}

.inputMsg {
    font-size:small;
    margin:0;
}

.greyLink {
    color:rgb(117, 113, 113);
}