////////////////////// GENERAL //////////////////////

.mainDiv {
    padding-top:50px;
}

.mainSlogan {
    margin-bottom:40px; // Size in global.scss
}

.marginUnderSlg {
    height:40px;
}

.gradientKick {
    font-weight:700;
    font-size:15px;
    text-transform:uppercase;
}

.snapchat {
    color:rgb(48, 47, 47);
}

.snapchatLogo {
    width:30px;
    height:auto;
    margin-right:5px;
}