<ion-card>
  <ion-card-header>
    <ion-card-subtitle slogan gradientKick componentTitle>Carte Kick</ion-card-subtitle>
    <ion-card-title class="titleColor">Localisation</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <img src="assets/img/map.jpg" />
    <p class="location">
      <ion-icon name="pin"></ion-icon>
      Lyon, France
    </p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle slogan gradientKick componentTitle>Accomplissements</ion-card-subtitle>
    <ion-card-title class="titleColor">Vos badges</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-chip outline color="primary">
      <ion-icon name="microphone" color="primary"></ion-icon>
      <ion-label>Rappeur</ion-label>
    </ion-chip>
    <ion-chip outline color="secondary">
      <ion-icon name="save" color="secondary"></ion-icon>
      <ion-label>Beatmaker</ion-label>
    </ion-chip>
    <ion-chip outline color="tertiary">
      <ion-icon name="medal" color="tertiary"></ion-icon>
      <ion-label>Kicker populaire</ion-label>
    </ion-chip>
    <ion-chip outline color="dark">
      <ion-icon name="videocam" color="dark"></ion-icon>
      <ion-label>Clip Maker</ion-label>
    </ion-chip>
    <ion-chip outline color="danger">
      <ion-icon name="radio" color="danger"></ion-icon>
      <ion-label>Webradio</ion-label>
    </ion-chip>
    <ion-chip outline color="warning">
      <ion-icon name="podium" color="warning"></ion-icon>
      <ion-label>Producteur</ion-label>
    </ion-chip>
    <ion-chip outline color="medium">
      <ion-icon name="cafe" color="medium"></ion-icon>
      <ion-label>Auditeur</ion-label>
    </ion-chip>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle slogan gradientKick componentTitle>Groupes</ion-card-subtitle>
    <ion-card-title class="titleColor">Vos groupes</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p class="location">Vous ne faites partie d'aucun groupe</p>
  </ion-card-content>
</ion-card>
