<ion-header>
  <ion-toolbar class="kickBg">
    <ion-title class="icon whiteSmoke">Equipe Kick</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="lightKick" autoHide='false'>
        <ion-icon class="settingBtn" name="arrow-dropdown"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center mainDiv">
    <ion-card>
      <img src="assets/img/portrait-thomas.jpg" />
      <ion-card-header>
        <ion-card-subtitle>
          Chef de projet
        </ion-card-subtitle>
        <ion-card-title>
          Thomas Fenet
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
 
  </div>
</ion-content>