////////////////////// GENERAL //////////////////////

.mainDiv {
    padding-top:55px;
}

.slogan {
    margin-top:50px; // Size in global.scss
}

.marginUnderSlg {
    height:40px;
}

.separator {
    border-top:1px solid black;
    width:45%;
    margin-left:54%;
}

.footerMsg {
    font-size:small;
}