<div class="behindFooter"></div>
<footer>
  <ion-footer>
    <ion-toolbar class="kickBg">
      <ion-title>
        <ion-button routerLink="/dashboard" fill="clear">
          <div class="avatarContainer"><img src="assets/img/bitmoji.png" class="avatar" /></div>
        </ion-button>
      </ion-title>
      <ion-button color="light" class="foreground" routerLink="/map" slot="primary" fill="clear">
        <ion-icon class="menuIcon" name="md-globe"></ion-icon>
      </ion-button>
      <ion-button class="foreground" routerLink="/messages" slot="start" fill="clear">
        <ion-icon class="menuIcon" color="light" name="ios-send"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</footer>