<ion-header>
  <ion-toolbar class="kickBg">
    <ion-title class="icon whiteSmoke">Messagerie</ion-title>
    <ion-buttons slot="start">
      <ion-button disabled="false" class="lightKick" autoHide='false' (click)="presentPopover($event)">
        <ion-icon class="settingBtn" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/dashboard" color="light" autoHide='false' text="" icon="ios-arrow-forward"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-top-toolbar></app-top-toolbar>

<ion-content>
  <div class="ion-text-center mainDiv">
    <app-contacts></app-contacts>

    <app-nav-bar></app-nav-bar>
  </div>
</ion-content>