<ion-header>
  <ion-toolbar>
    <ion-title>confirmNewPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)= "confirmNewPassword()">

    <ion-item>
      <ion-label position ="floating" >changer de mot de passe</ion-label>
      <ion-input type="password" name= "newPassword"  #password="ngModel" [(ngModel)]="newPassword.password" required="true" maxlength="40"  minlength="7" ></ion-input>
      <div *ngIf ="newPassword.errors?.minlength" >Password 7 caracteres mini 40 maxi </div>
    </ion-item>
    <ion-button type="submit" class="registerBtn" expand="full">Envoyer</ion-button>
  </form>
</ion-content>
