////////////////////// GENERAL //////////////////////

.mainDiv {
    padding-top:50px;
}

.mainSlogan {
    margin-bottom:40px; // Size in global.scss
}

.marginUnderSlg {
    height:40px;
}

.gradientKick {
    font-weight:700;
    font-size:15px;
    text-transform:uppercase;
}