<ion-header>
  <ion-toolbar class="kickBg">
    <ion-title class="icon whiteSmoke">Les fonctionnalités Kick</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" class="lightKick" autoHide='false'>
        <ion-icon class="settingBtn" name="arrow-dropdown"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding mainDiv">
    <ion-card class="card">
      <img src="assets/img/1.png" />
      <ion-card-content>
        <ul class="list1">
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Fais connaitre tes musiques et freestyles<li>
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Reçoit des dons de tes fans et d’autres artistes</li>
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Stock tes musiques, partages les avec tes amis</li>
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Créé un réseau d’amis et de personnes ayant la même passion, le même style de rap, le même quartier, la même ville.</li>
        </ul>
      </ion-card-content>
      <img class="illustration" src="assets/img/imagination.svg" />
    </ion-card>

    <ion-card class="card">
      <img src="assets/img/2.png" />
      <ion-card-content>
        <ul class="list2">
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Découvre de nouveaux rappeurs grâce à la carte Kickmap</li>
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Sois au courant lorsqu'un artiste de ton quartier sort un son</li>
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Essaie toi au rap grace aux freestyles en mode privé !</li>
        </ul>
      </ion-card-content>
      <img class="illustration" src="assets/img/walk-in-the-street.svg" />
    </ion-card>

    <ion-card class="card">
      <img src="assets/img/3.png" />
      <ion-card-content>
        <ul class="list3">
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Recherche de nouveaux talents dans une région précise<li>
        </ul>
      </ion-card-content>
      <img class="illustration" src="assets/img/hire.svg" />
    </ion-card>

    <ion-card class="card">
      <img src="assets/img/4.png" />
      <ion-card-content>
        <ul class="list4">
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Etends ton réseau</li>
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Propose des collaborations à tes artistes et beatmakers favoris</li>
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Revends tes prods à des artistes</li>
        </ul>
      </ion-card-content>
      <img class="illustration" src="assets/img/compose-music.svg" />
    </ion-card>

    <ion-card class="card">
      <img src="assets/img/5.png" />
      <ion-card-content>
        <ul class="list5">
          <li><ion-icon class="listIcon" name="ios-flame"></ion-icon>Trouve de nouveaux artistes et passe-les à l'antenne</li>
        </ul>
      </ion-card-content>
      <img class="illustration" src="assets/img/podcast.svg" />
    </ion-card>
  </div>
</ion-content>