.illustration {
    width:170px;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}

.card {
    --background:rgb(241,241,241);
    border-radius:10px;
}

.listIcon {
    vertical-align:-1px;
}

.list1 {
    color:rgb(77,77,77);
    font-size:15px;
}

.list2 {
    color:rgb(105,177,110);
    font-size:15px;
}

.list3 {
    color:rgb(93,53,128);
    font-size:15px;
}

.list4 {
    color:rgb(159,141,70);
    font-size:15px;
}

.list5 {
    color:rgb(173,123,123);
    font-size:15px;
}